# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some commonly used libariers
* List some Data Science tools
* work with markdown cells
* work with code cells and comments within those cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPi
4. matplotlib
5. Keras

| Data Science Tools |
| --------|
| Apache AirFlow |
| KubeFlow |
| Apache SparkSQL |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Author
-----
Norbert Breuer